<div id="{{handler}}" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm thành viên</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>Chọn thành viên</label>
                    </div>
                    <div class="col-md-9">
                        <div ng-dropdown-multiselect="" options="$parent.userChilds" selected-model="model" ng-model="memberSelected"></div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn bg-primary" ng-click="save()">Lưu</button>
            </div>
        </div>
    </div>
</div>