
<ul class="navbar-nav navbar-nav-highlight">
    <li class="nav-item mega-menu-full">
        <a class="navbar-nav-link text-uppercase dropdown-toggle" data-toggle="dropdown"><i class="icon-file-presentation2 mr-1"></i> Phòng</a>
        <div class="dropdown-menu dropdown-content">
            <div class="dropdown-content-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">Phòng</div>
                        <div class="dropdown-divider mb-2"></div>
                        <div class="dropdown-item-group mb-3 mb-md-0">
                            <ul class="list-unstyled">
                                <li><a action-user="151A" ui-sref-active="active" ui-sref="listusedgd" class="dropdown-item rounded"><i class="icon-users"></i> Danh sách khách hàng đang sử dụng</a></li>
                                <li><a action-user="155A" ui-sref-active="active" ui-sref="listacceptgd" class="dropdown-item rounded"><i class="icon-users"></i> Danh sách khách hàng đã thanh toán</a></li>
                                <li><a action-user="157A" ui-sref-active="active" ui-sref="room" class="dropdown-item rounded"><i class="icon-users"></i> Quản lý phòng</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <li class="nav-item mega-menu-full">
        <a class="navbar-nav-link text-uppercase dropdown-toggle" data-toggle="dropdown"><i class="icon-file-presentation2 mr-1"></i> Thống kê, báo cáo</a>
        <div class="dropdown-menu dropdown-content">
            <div class="dropdown-content-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">Thống kê, báo cáo</div>
                        <div class="dropdown-divider mb-2"></div>
                        <div class="dropdown-item-group mb-3 mb-md-0">
                            <ul class="list-unstyled">
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>

    <li class="nav-item mega-menu-full">
        <a class="navbar-nav-link text-uppercase dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-equalizer3 mr-1"></i> Hệ thống</a>
        <div class="dropdown-menu dropdown-content">
            <div class="dropdown-content-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">Quản trị hệ thống</div>
                        <div class="dropdown-divider mb-2"></div>
                        <div class="dropdown-item-group mb-3 mb-md-0">
                            <ul class="list-unstyled">
                                <li><a action-user="116A" ui-sref-active="active" ui-sref="user" class="dropdown-item rounded"><i class="icon-users"></i> Quản lý người dùng</a></li>
                                <li><a action-user="122A" ui-sref-active="active" ui-sref="department" class="dropdown-item rounded"><i class="icon-office"></i> Quản lý đơn vị &amp; phòng ban</a></li>
                                
                                <li><a action-user="127A" ui-sref-active="active" ui-sref="function" class="dropdown-item rounded"><i class="icon-make-group"></i> Quản lý chức năng</a></li>
                                
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="font-size-sm line-height-sm font-weight-semibold text-uppercase mt-1">Danh mục chung</div>
                        <div class="dropdown-divider mb-2"></div>
                        <div class="dropdown-item-group mb-3 mb-md-0">
                            <ul class="list-unstyled">
                                <li><a action-user="136A" ui-sref-active="active" ui-sref="position" class="dropdown-item rounded"><i class="icon-vcard"></i> Danh mục chức danh</a></li>
                                <li><a action-user="141A" ui-sref-active="active" ui-sref="roomType" class="dropdown-item rounded"><i class="icon-users"></i> Quản lý loại phòng</a></li>
                                
                                <li><a action-user="146A" ui-sref-active="active" ui-sref="customer" class="dropdown-item rounded"><i class="icon-users"></i> Quản lý khách hàng</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
